{% extends 'admin/base.html' %}

{% block admintitle %}
Games
{% endblock %}
{% block admintitlebr %}
Games
{% endblock %}

{% block admincontent %}
<div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Games</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">id</th>
                      <th>game id</th>
                      <th>user id</th>
                      <th>verdict</th>
                      <th>model 1</th>
                      <th>model 2</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for game in games%}
                    <tr>
                      <td><a href="{{ url_for("admin.view",id=game.id ) }}">{{ game.id }}</a></td>
                      <td>{{ game.gameid}}</td>
                      <td>{{ game.userid}}</td>
                      <td>{{ verdicts[game.verdict] }}</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: {{ game.model1result*100}}%"></div>
                        </div>
                        <span class="badge bg-danger">{{ game.model1result*100}}%</span>
                      </td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: {{ game.model2result*100}}%"></div>
                        </div>
                        <span class="badge bg-danger">{{ game.model2result*100}}%</span>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    {% if 1==page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ 1 }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('admin.games',page=1) }}">{{ 1 }}</a></li>
                    {% endif %}
                    {% if total %}
                        {% for i in range(2,11) %}
                            {% if page<=5 %}
                                {% if i==page %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('admin.games',page=i) }}">{{ i }}</a></li>
                                {% endif %}
                            {% endif %}
                            {% if page < total-5 and page > 5 %}
                                {% if i<=5 %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('admin.games',page=page-(6-i)) }}">{{ page-(6-i) }}</a></li>
                                {% endif %}
                                {% if i==6 %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                {% endif %}
                                {% if i>6 %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('admin.games',page=page+(i-6)) }}">{{ page+(i-6) }}</a></li>
                                {% endif %}
                            {% endif %}
                            {% if page >= total-5 %}
                                {% if total-(11-i)==page %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ total-(11-i) }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('admin.games',page=total-(11-i)) }}">{{ total-(11-i) }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if total==page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ total }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('admin.games',page=total) }}">{{ total }}</a></li>
                    {% endif %}
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
    </div>
{% endblock %}