{% extends 'admin/base.html' %}

{% block admintitle %}
game #{{ game.id }}
{% endblock %}
{% block admintitlebr %}
game #{{ game.id }}
{% endblock %}

{% block customcss %}

    <link rel="stylesheet" href="{{ url_for("static",filename="css/pgnvjs.css") }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block admincontent %}

<div class="row">

    <!-- ./col -->
    <div class="col-12">
    <!-- small box -->
        <div id="board" class='merida zeit'>

        </div>
    </div>
    <!-- ./col -->
</div>

    <script>
        function pgnviewReady() {
            pgnView('board',{ pgn: "{{ game.pgn }}", pieceStyle: 'merida' ,layout:'left'});
        }
    </script>
    <script onload="pgnviewReady()" src="{{ url_for('static',filename='js/pgnvjs.js') }}" type="text/javascript" ></script>

{% endblock %}