{% extends 'admin/base.html' %}

{% block admintitle %}
Api Keys
{% endblock %}
{% block admintitlebr %}
Api Keys
{% endblock %}

{% block admincontent %}

    <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Api Keys</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" >
                      <form action="{{ url_for("admin.keys",action="add") }}">
                        <button type="submit" class="btn btn-default"><i class="fas fa-plus"></i></button>
                      </form>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">id</th>
                      <th>key</th>
                      <th>active</th>
                      <th style="width: 40px">action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key in keys %}
                    <tr>
                      <td>{{ key.id }}</td>
                      <td>{{ key.key }}</td>
                      <td>
                        {{ key.active }}
                      </td>
                      <td><span class="badge bg-danger">55%</span></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    {% if total %}
                        {% for i in range(1,total) %}
                            {% if i==page %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('admin.keys',action="page",id=i) }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
    </div>



{% endblock %}